<?xml version="1.0"?>
<!-- 
 *  Software License Agreement: BSD 3-Clause License
 *
 * Copyright (c) 2021, NMMI
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice, this
 * list of conditions and the following disclaimer.
 *
 * Redistributions in binary form must reproduce the above copyright notice,
 * this list of conditions and the following disclaimer in the documentation
 * and/or other materials provided with the distribution.
 *
 * Neither the name of the copyright holder nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * \file      softhands.xacro
 *
 * \author       _Centro di Ricerca "E.Piaggio"_
 * \author       _Istituto Italiano di Tecnologia, Soft Robotics for Human Cooperation and Rehabilitation Lab_
 *
-->

<robot name="softhands" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find softhands_description)/urdf/v1.0/sh_v1.xacro"/>
  <xacro:include filename="$(find softhands_description)/urdf/v1.0_simple/sh_v1_simple.xacro"/>
  <xacro:include filename="$(find softhands_description)/urdf/v2.0/sh_v2.xacro"/>
  <xacro:include filename="$(find softhands_description)/urdf/v2.0_simple/sh_v2_simple.xacro"/>

  <xacro:macro name="softhands" params="type version parent position orientation operation_mode translation">

    # Softhand VERSION 1.0
    <xacro:if value="${version == 'v1.0'}">

    	<xacro:sh_v1 type="${type}" 
    	    parent = "${parent}"
    	    position ="${position}"
    	    orientation ="${orientation}"
          operation_mode = "${operation_mode}">
    	</xacro:sh_v1>	

    </xacro:if>

    # Softhand VERSION 1.0 SIMPLIFIED (less joints)
    <xacro:if value="${version == 'v1.0_simple'}">

      <xacro:sh_v1_simple type="${type}" 
        parent = "${parent}"
        position ="${position}"
        orientation ="${orientation}"
        operation_mode = "${operation_mode}">
      </xacro:sh_v1_simple> 

    </xacro:if>

    # Softhand VERSION 2.0
    <xacro:if value="${version == 'v2.0'}">

      <xacro:sh_v2 type="${type}" 
	      parent = "${parent}"
	      position ="${position}"
	      orientation ="${orientation}"
        operation_mode = "${operation_mode}">
      </xacro:sh_v2>	

    </xacro:if>

    # Softhand VERSION 2.0 SIMPLIFIED (less joints)
    <xacro:if value="${version == 'v2.0_simple'}">

      <xacro:sh_v2_simple type="${type}" 
	      parent = "${parent}"
	      position ="${position}"
	      orientation ="${orientation}"
        operation_mode = "${operation_mode}"
        translation="${translation}">
      </xacro:sh_v2_simple>	

    </xacro:if>

    # TODO: OTHER VERSIONs

    <gazebo>
      <self_collide>1</self_collide>
    </gazebo>

  </xacro:macro>

</robot>