<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   
    <xacro:macro name="phalanx_prox_sup" params="name parent side *origin">

		<!-- Support -->

		<joint name="${side}_${parent}_${name}_joint" type="fixed">
			<xacro:insert_block name="origin"/>
            <parent link="${side}_${parent}_link"/>
			<child link="${side}_${name}_link"/>
		</joint>

		<link name="${side}_${name}_link">
				<visual>
				<material name="grey" />
					<geometry>
					<mesh
						filename="package://softhands_description/meshes/softhands/wide/${side}/phalanx_prox_sup.stl"
						scale="0.001 0.001 0.001" />
					</geometry>
				<origin xyz="0 0 0" rpy="0 0 0" />
				</visual>
				<inertial>
				<origin xyz="-9.4524165e-3 -3.2786419e-2 -1.9973598e-3" rpy="0 0 0" />
				<mass value="1.2747079e-1" />
					<inertia ixx=" 1.1656420e-4" ixy="-3.6262159e-5"  ixz="-2.3018113e-6"
											iyy=" 5.3305451e-5"  iyz=" -5.5947664e-6"
																izz=" 1.2416468e-4" />
					</inertial>
				<collision>
					<geometry>
					<mesh
						filename="package://softhands_description/meshes/softhands/wide/${side}/phalanx_prox_sup.stl"
						scale="0.001 0.001 0.001" />
					</geometry>
				<origin xyz="0 0 0" rpy="0 0 0" />
				</collision>
		</link>

		<!-- Finger support Virtual  -->

		<joint name="${side}_${name}_virtual_joint" type="revolute">
			<axis xyz="0 0 1"/>
			<limit effort="0.0" lower="0" upper="0"  velocity="0.0"/>
			<origin xyz="24e-3 0 -6.5e-3" rpy="0 0 0"/>
			<parent link="${side}_${name}_link"/>
			<child link="${side}_${name}_virtual_link"/>
		</joint>

		<link name="${side}_${name}_virtual_link">
		   <inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="1e-6"/>
				<inertia ixx="1e-6"  ixy="0"  	  	ixz="0" 
									iyy="1e-6" 	iyz="0" 
													izz="1e-6" />
		   </inertial>
	
	    </link>
    </xacro:macro>
</robot>