<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   
    <xacro:macro name="palm_central" params="name parent side *origin">

		<!-- World -->
		<link name="${parent}">
		</link>
		
		<!-- World to palm base -->
		<joint name="${side}_${name}_joint" type="fixed">
			<parent link="${parent}"/>
			<child link="${side}_${name}_link"/>
			<xacro:insert_block name="origin"/>
		</joint>

		<link name="${side}_${name}_link">
				<visual>
				<material name="grey" />
					<geometry>
					<mesh
						filename="package://softhands_description/meshes/softhands/wide/${side}/palm_central.stl"
						scale="0.001 0.001 0.001" />
					</geometry>
				<origin xyz="0 0 0" rpy="0 0 0" />
				</visual>
				<inertial>
				<origin xyz="-9.4524165e-3 -3.2786419e-2 -1.9973598e-3" rpy="0 0 0" />
				<mass value="1.2747079e-1" />
					<inertia ixx=" 1.1656420e-4" ixy="-3.6262159e-5"  ixz="-2.3018113e-6"
											iyy=" 5.3305451e-5"  iyz=" -5.5947664e-6"
																izz=" 1.2416468e-4" />
					</inertial>
				<collision>
					<geometry>
					<mesh
						filename="package://softhands_description/meshes/softhands/wide/${side}/palm_central.stl"
						scale="0.001 0.001 0.001" />
					</geometry>
				<origin xyz="0 0 0" rpy="0 0 0" />
				</collision>
		</link>


		<!-- palm base to mobile thumb -->
		<joint name="${side}_${name}_to_mobile_thumb_joint" type="revolute">
			<axis xyz="0 0 1"/>
			<limit effort="0.0" lower="0" upper="0"  velocity="0.0"/>
			<origin xyz="39.6398e-3 32.5059e-3 0" rpy="1.5707963 0 1.9198617"/>
			<parent link="${side}_${name}_link"/>
			<child link="${side}_${name}_to_mobile_thumb_link"/>
		</joint>

	    <link name="${side}_${name}_to_mobile_thumb_link">
		   <inertial>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<mass value="1e-6"/>
			<inertia ixx="1e-6"  ixy="0"  	  	ixz="0" 
								 iyy="1e-6" 	iyz="0" 
												izz="1e-6" />
		   </inertial>
	
	    </link>

    </xacro:macro>
</robot>