<?xml version="1.0"?>
<!-- 
 *  Software License Agreement: BSD 3-Clause License
 *
 * Copyright (c) 2021, NMMI
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice, this
 * list of conditions and the following disclaimer.
 *
 * Redistributions in binary form must reproduce the above copyright notice,
 * this list of conditions and the following disclaimer in the documentation
 * and/or other materials provided with the distribution.
 *
 * Neither the name of the copyright holder nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * \file      sh_v1_simple.xacro
 *
 * \author       _Centro di Ricerca "E.Piaggio"_
 * \author       _Istituto Italiano di Tecnologia, Soft Robotics for Human Cooperation and Rehabilitation Lab_
 *
-->

<robot name="sh_v1_simple" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="side" value="$(arg type)"/>
    <xacro:if value="${side == 'right'}">
		<xacro:arg name="sign" default="1"/>
	</xacro:if>
    <xacro:if value="${side == 'left'}">
		<xacro:arg name="sign" default="-1"/>
    </xacro:if>

	<xacro:palm 
		type="$(arg type)" 
		sign="$(arg sign)"
		parent = "$(arg parent)"
		position ="$(arg position)"
		orientation ="$(arg orientation)"
		operation_mode = "$(arg operation_mode)">
	</xacro:palm>

	<!-- # Thumb finger -->
	<xacro:thumb_v1_simple 
		type="thumb" 
		sign="$(arg sign)"
		ns="$(arg type)_hand_v1s" 
		position="0.00566972 ${$(arg sign)*0.0296160} 0.0553140" 
		orientation="0.0 -0.38397275793662144 ${$(arg sign)*1.5707963267948966}">
	</xacro:thumb_v1_simple>

	<!-- # Index finger -->
	<xacro:finger_v1_simple 
		type="index" 
		ns="$(arg type)_hand_v1s" 
		position="-0.0033 ${$(arg sign)*0.0195} 0.0936994" 
		orientation="${$(arg sign)*1.5707963267948966} -1.4835299330931884 ${$(arg sign)*1.5707963267948966}">
	</xacro:finger_v1_simple>

	<!-- # Middle finger -->
	<xacro:finger_v1_simple 
		type="middle" 
		ns="$(arg type)_hand_v1s" 
		position="-0.003300000 0.0 0.100699" 
		orientation="3.141592 -1.5707963267948966 0.0">
	</xacro:finger_v1_simple>

	<!-- # Ring finger -->
	<xacro:finger_v1_simple 
		type="ring" 
		ns="$(arg type)_hand_v1s" 
		position="-0.0033 ${$(arg sign)*-0.0195} 0.0936994" 
		orientation="${$(arg sign)*-1.5707963267948966} -1.5184364298870514 ${$(arg sign)*-1.5707963267948966}">
	</xacro:finger_v1_simple>

	<!-- # Little finger -->
	<xacro:finger_v1_simple 
		type="little" 
		ns="$(arg type)_hand_v1s" 
		position="-0.0033 ${$(arg sign)*-0.039} 0.0836994" 
		orientation="${$(arg sign)*-1.5707963267948966} -1.4835299330931884 ${$(arg sign)*-1.5707963267948966}">
	</xacro:finger_v1_simple>


		<!-- # Gazebo NEW custom synergy-plugin -->
	<gazebo>
		<plugin name="synergy_plugin" filename="libsofthand_plugin.so">
			<namespace>$(arg type)_hand_v1s</namespace>
			<operation_mode>$(arg operation_mode)</operation_mode>

			<!-- TODO: Insert here the OPTIONAL tags available! -->
		</plugin>
	</gazebo>

</robot>