<?xml version="1.0"?>
<!-- 
 *  Software License Agreement: BSD 3-Clause License
 *
 * Copyright (c) 2021, NMMI
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice, this
 * list of conditions and the following disclaimer.
 *
 * Redistributions in binary form must reproduce the above copyright notice,
 * this list of conditions and the following disclaimer in the documentation
 * and/or other materials provided with the distribution.
 *
 * Neither the name of the copyright holder nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * \file      sh_v1_simple.xacro
 *
 * \author       _Centro di Ricerca "E.Piaggio"_
 * \author       _Istituto Italiano di Tecnologia, Soft Robotics for Human Cooperation and Rehabilitation Lab_
 *
-->

<robot name="v3" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:property name="side_" value="$(arg side)"/>
    <xacro:if value="${side_ == 'right'}">
		<xacro:arg name="sign" default="1"/>
	</xacro:if>
    <xacro:if value="${side_ == 'left'}">
		<xacro:arg name="sign" default="-1"/>
    </xacro:if>

	<!-- type: right/left -->
	<!-- parent: root_link/world -->
	<xacro:base 
		sign="$(arg sign)"
		ns="$(arg ns)"
		parent = "$(arg parent)"
		position ="$(arg position)"
		orientation ="$(arg orientation)"
		operation_mode = "$(arg operation_mode)">
	</xacro:base>

	<xacro:palm 
		sign="$(arg sign)"
		ns="$(arg ns)"
		parent = "$(arg parent)"
		position ="-0.0045 0.0145 0.144"
		orientation ="1.57 0 0"
		operation_mode = "$(arg operation_mode)">
	</xacro:palm>

	<!-- # Thumb finger -->
	<xacro:thumb 
		type="thumb" 
		sign="$(arg sign)"
		ns="$(arg ns)"
		position="-0.044 -0.0465 -0.002" 
		orientation="-1.57 3.14 0.0">
	</xacro:thumb>


	<!-- <gazebo>
		<plugin name="synergy_plugin" filename="libsofthand_plugin.so">
			<namespace>$(arg type)_hand_v3s</namespace>
			<operation_mode>$(arg operation_mode)</operation_mode>

		</plugin>
	</gazebo> -->

</robot>