<?xml version="1.0"?>
<!-- 
 *  Software License Agreement: BSD 3-Clause License
 *
 * Copyright (c) 2021, NMMI
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice, this
 * list of conditions and the following disclaimer.
 *
 * Redistributions in binary form must reproduce the above copyright notice,
 * this list of conditions and the following disclaimer in the documentation
 * and/or other materials provided with the distribution.
 *
 * Neither the name of the copyright holder nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * \file      sh_v1_simple.xacro
 *
 * \author       _Centro di Ricerca "E.Piaggio"_
 * \author       _Istituto Italiano di Tecnologia, Soft Robotics for Human Cooperation and Rehabilitation Lab_
 *
-->

<robot name="plugin" xmlns:xacro="http://www.ros.org/wiki/xacro">
	
	<xacro:macro name="softhand_mimic_plugin" params="ns wide">
		<gazebo>
			<plugin name="synergy_plugin" filename="libsofthand_mimic_plugin.so">
				<namespace>${ns}</namespace> 
				<operation_mode>0</operation_mode>
				<spring_k>5</spring_k>
				<wide>${wide}</wide>

				
				<r_finger>0.0033</r_finger>
				<R_pulley>0.0053</R_pulley>
				<n_param>0.058</n_param> 
				<synS_thumb_j1>3</synS_thumb_j1>
				<synS_thumb_j2>1.2</synS_thumb_j2>
				<synS_thumb_j3>1.2</synS_thumb_j3>
				<k_thumb_j1>0.8</k_thumb_j1>
				<k_thumb_j2>0.8</k_thumb_j2>
				<k_thumb_j3>1.6</k_thumb_j3>

				<synS_index_j1>-0.3</synS_index_j1>
				<synS_index_j2>1.57</synS_index_j2>
				<synS_index_j3>1.25</synS_index_j3>
				<synS_index_j4>0.8</synS_index_j4>
				<k_index_j1>0.15</k_index_j1>
				<k_index_j2>0.5</k_index_j2>
				<k_index_j3>0.5</k_index_j3>
				<k_index_j4>0.5</k_index_j4>

				<synS_middle_j1>0</synS_middle_j1>
				<synS_middle_j2>1.57</synS_middle_j2>
				<synS_middle_j3>1.25</synS_middle_j3>
				<synS_middle_j4>1.25</synS_middle_j4>
				<k_middle_j1>0.15</k_middle_j1>
				<k_middle_j2>0.5</k_middle_j2>
				<k_middle_j3>0.5</k_middle_j3>
				<k_middle_j4>0.5</k_middle_j4>

				<synS_ring_j1>0</synS_ring_j1>
				<synS_ring_j2>1.57</synS_ring_j2>
				<synS_ring_j3>1.0</synS_ring_j3>
				<synS_ring_j4>1.0</synS_ring_j4>
				<k_ring_j1>0.15</k_ring_j1>
				<k_ring_j2>0.5</k_ring_j2>
				<k_ring_j3>0.5</k_ring_j3>
				<k_ring_j4>0.5</k_ring_j4>

				<synS_little_j1>0.1</synS_little_j1>
				<synS_little_j2>1.57</synS_little_j2>
				<synS_little_j3>1.25</synS_little_j3>
				<synS_little_j4>1.0</synS_little_j4>
				<k_little_j1>0.15</k_little_j1>
				<k_little_j2>0.5</k_little_j2>
				<k_little_j3>0.5</k_little_j3>
				<k_little_j4>0.5</k_little_j4>

				<!-- Palm thumb -->
				<synS_palm_j1>1.57</synS_palm_j1>
				<k_palm_j1>0.5</k_palm_j1>
				<k_palm_j1_mimic>0.5</k_palm_j1_mimic>
				<!-- Palm little -->
				<synS_palm_j2>1.57</synS_palm_j2>
				<k_palm_j2>0.5</k_palm_j2>
				<k_palm_j2_mimic>0.5</k_palm_j2_mimic>
			</plugin>
		</gazebo>
	</xacro:macro>
</robot>