<?xml version="1.0" encoding="UTF-8"?>
<launch>
	
	<!-- start gazebo server with empty world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find softhands_description)/worlds/softhands.world"/>
		<arg name="paused" value="true"/>
	</include>

	<!-- SH v2 -->
	<param name="v2_description" command="$(find xacro)/xacro --inorder '$(find softhands_description)/urdf/test_SHs_v2.urdf.xacro'"/>

	<node name="my_robot_spawn_1" pkg="gazebo_ros" type="spawn_model" output="screen" 
		args="-urdf -param v2_description -model sh_v2_description -x 0 -y 0 -z 0"/>

	<!-- SH v2 simple -->
	<param name="v2s_description" command="$(find xacro)/xacro --inorder '$(find softhands_description)/urdf/test_SHs_v2s.urdf.xacro'"/>

	<node name="my_robot_spawn_2" pkg="gazebo_ros" type="spawn_model" output="screen" 
		args="-urdf -param v2s_description -model sh_v2s_description -x 0.2 -y 0 -z 0"/>

	<!-- calculate, publish and remap joint_states -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="false" output="screen">
		<remap from="/joint_states" to="/softhands/joint_states" /> 
	</node> 
	
</launch>




