<?xml version="1.0"?>
<launch>
  <!-- Load the robot URDF -->
  <param name="robot_description" command="$(find xacro)/xacro $(find softhands_description)/urdf/softhands.urdf.xacro" />

  <!-- Start the robot_state_publisher node -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- Start the joint_state_publisher node -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find softhands_description)/config/softhands.rviz" />

</launch>