<?xml version="1.0" ?>
<launch>
	<arg name="gui" default="true"/>


	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0.1"/>
	
	<!-- <param name="robot_description" command="$(find xacro)/xacro '$(find softhands_description)/urdf/test_SHs.urdf.xacro'"/> -->
	<param name="robot_description" command="$(find xacro)/xacro  '$(find softhands_description)/urdf/xacro/test_finger/test_FINGER.xacro'"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true">
		<param name="use_gui" value="$(arg gui)"/>
		<param name="rate" value="200"/>
	</node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true">
		<param name="publish_frequency" value="200" />
		<param name="rate" value="200" />
	</node>

	<!-- start gazebo server with empty world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find softhands_description)/urdf/test_finger/finger.world"/>
		<arg name="paused" value="true"/>
	</include>

	<node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
	args="-urdf -param robot_description -model softhands_description -x $(arg x) -y $(arg y) -z $(arg z)"/>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find softhands_description)/rviz/softhand.rviz"/>

</launch>
