<?xml version="1.0"?>
<!-- 
 *  Software License Agreement: BSD 3-Clause License
 *
 * Copyright (c) 2021, NMMI
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice, this
 * list of conditions and the following disclaimer.
 *
 * Redistributions in binary form must reproduce the above copyright notice,
 * this list of conditions and the following disclaimer in the documentation
 * and/or other materials provided with the distribution.
 *
 * Neither the name of the copyright holder nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * \file      thumb.xacro
 *
 * \author       _Centro di Ricerca "E.Piaggio"_
 * \author       _Istituto Italiano di Tecnologia, Soft Robotics for Human Cooperation and Rehabilitation Lab_
 *
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="thumb" params="ns name parent *origin side">

    <!-- Knuckle -->
    <xacro:thumb_knuckle name="${name}_knuckle" parent="${parent}" ns="${ns}" side="${side}">
      <origin rpy="1.5707963 0 2.5307278" xyz="-0.0315281 -0.0276566 ${sign*-0.0024}"/>
    </xacro:thumb_knuckle>

    <!-- Proximal  -->
    <xacro:phalanx_generic name="${name}_proximal" parent="${name}_knuckle" ns="${ns}" mass="3.4433482e-03" mesh="ph_short">
      <xacro:if value="${side == 'left'}">
         <virtual_origin> <origin rpy="-2 0.0 0.0" xyz="0.0255 0.0038 -0.00012"/></virtual_origin>
      </xacro:if>	
      <xacro:if value="${side == 'right'}">
         <virtual_origin> <origin rpy="-1.5707963 0.0 0.0" xyz="16.5e-03 -4.2e-03 0"/></virtual_origin>
      </xacro:if>	
      <real_origin>     <origin rpy="0 0 0" xyz="9e-03 0 0"/>                         </real_origin>
      <inertia_origin>  <origin rpy="0 0 0" xyz="8.2958878e-03 1.4867666e-04 0"/>  </inertia_origin>
      <inertia ixx="5.9259154e-08" ixy="4.7090997e-09" ixz="0" iyy="2.0151714e-07" iyz="0.0" izz="2.1338410e-07"/>
    </xacro:phalanx_generic>

    <!-- Distal  -->
    <xacro:phalanx_generic name="${name}_distal" parent="${name}_proximal" ns="${ns}" mass="2.3548400e-03" mesh="ph_distal">
      <virtual_origin>  <origin rpy="0 0 0" xyz="16e-03 0 0"/>                        </virtual_origin>
      <real_origin>     <origin rpy="0 0 0" xyz="9e-03 0 0"/>                         </real_origin>
      <inertia_origin>  <origin rpy="0 0 0" xyz="2.3098353e-03 4.4361817e-04 -4.4968362e-04"/>  </inertia_origin>
      <inertia ixx="2.8240100e-08" ixy="8.9271493e-10" ixz="1.2771999e-10" iyy="6.1297195e-10" iyz="0.0" izz="5.7464142e-08"/>
    </xacro:phalanx_generic>

  </xacro:macro>

</robot>